{% extends 'base.html' %}

{% block conteudo %}

<div class="gradient">

    <div class="container login-container">

        <div class="login-card">

            <!-- LADO DA IMAGEM -->
            <div class="left-side">

                <img src="{{ url_for('static', filename='imagem/unnamed.png') }}" alt="logo" class="img-form">

                <h2>SmartMeds</h2>

                <p>
                    Gerencie seu estoque de medicamentos
                    de forma moderna, rápida e inteligente.
                </p>

            </div>

            <!-- LADO DO FORMULÁRIO -->
            <div class="right-side">

                <div class="top-form">

                    <h3>
                        {% if pedido_saida %}
                        Atualizar Pedido
                        {% else %}
                        Cadastrar Pedido
                        {% endif %}
                    </h3>

                    <p>
                        Preencha as informações abaixo
                    </p>

                </div>

                <form method="POST" action="{% if pedido_saida and pedido_saida.id %}
                                {{ url_for('atualizar_pedido_saida', id=pedido_saida.id) }}
                              {% else %}
                                {{ url_for('salvar_pedido_saida') }}
                              {% endif %}">

                    <div class="input-group-custom">

                        <label>Produto</label>

                        <input type="text" name="nome" class="form-control custom-input"
                            placeholder="Digite o nome do produto..."
                            value="{{ pedido_saida.nome if pedido_saida else '' }}" required>

                    </div>

                    <button type="submit" class="btn btn-login">

                        {% if pedido_saida %}
                        Atualizar
                        {% else %}
                        Cadastrar
                        {% endif %}

                    </button>

                </form>

                <div class="footer-login">
                    © 2026 Senai • Sistema SmartMeds
                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}