{% extends 'base.html' %}

{% block conteudo %}
<div class="gradient">

    <div class="container login-container">

        <div class="login-card">

            <!-- LADO ESQUERDO -->
            <div class="left-side">

                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="img-fluid"
                    style="max-width: 350px">

                <div class="left-text">
                    <h2>SmartMeds</h2>

                    <p>
                        Controle de pedidos de saída de forma rápida e organizada.
                    </p>
                </div>

            </div>

            <!-- LADO DIREITO -->
            <div class="right-side">

                <div class="top-form">

                    <h3>

                        {% if pedido_saida and pedido_saida.id %}
                        Editar Pedido de Saída
                        {% else %}
                        Novo Pedido de Saída
                        {% endif %}

                    </h3>

                    <p>
                        Preencha os dados do pedido
                    </p>

                </div>

                <form method="POST" action="
                    {% if pedido_saida and pedido_saida.id %}
                        {{ url_for('atualizar_pedido_saida', id=pedido_saida.id) }}
                    {% else %}
                        {{ url_for('salvar_pedido_saida') }}
                    {% endif %}
                ">

                    <div class="input-group-custom">
                        <label>Tipo</label>

                        <select name="tipo" class="form-control" required>

                            <option value="">
                                Selecione
                            </option>

                            <option value="VENDA">
                                VENDA
                            </option>

                            <option value="DOACAO">
                                DOAÇÃO
                            </option>

                            <option value="DESCARTE">
                                DESCARTE
                            </option>

                        </select>

                    </div>

                    <div class="input-group-custom">
                        <label>Pagamento</label>

                        <select name="pagamento" class="form-control" required>

                            <option value="">
                                Selecione
                            </option>

                            <option value="DINHEIRO">
                                DINHEIRO
                            </option>

                            <option value="PIX">
                                PIX
                            </option>

                            <option value="CARTAO">
                                CARTÃO
                            </option>

                            <option value="BOLETO">
                                BOLETO
                            </option>

                        </select>

                    </div>

                    <div class="input-group-custom">
                        <label>Data de Pagamento</label>

                        <input type="date" name="data_pagamento" class="form-control"
                            value="{{ pedido_saida.data_pagamento if pedido_saida else '' }}" required>

                    </div>

                    <div class="input-group-custom">

                        <label>Cliente</label>

                        <select name="cliente_id" class="form-control" required>

                            <option value="">
                                Selecione
                            </option>

                            {% for cliente in clientes %}

                            <option value="{{ cliente.id }}">
                                {{ cliente.nome }}
                            </option>

                            {% endfor %}

                        </select>

                    </div>



                    <div class="input-group-custom">

                        <label>Usuário</label>

                        <select name="usuario_id" class="form-control" required>

                            <option value="">
                                Selecione
                            </option>

                            {% for usuario in usuarios %}

                            <option value="{{ usuario.id }}">
                                {{ usuario.nome }}
                            </option>

                            {% endfor %}

                        </select>

                    </div>

                    <div class="d-grid gap-2">

                        <button type="submit" class="btn btn-success">

                            Salvar Pedido

                        </button>

                    </div>

                </form>

            </div>

        </div>

        <!-- ITENS -->

        {% if pedido_saida and pedido_saida.id %}

        <div class="mt-5">

            <h4 class="mb-3 text-white">
                Itens do Pedido
            </h4>

            <div class="card shadow-sm mb-4">

                <div class="card-body">

                    <form method="POST" action="{{ url_for('salvar_item_saida') }}">

                        <input type="hidden" name="pedido_saida_id" value="{{ pedido_saida.id }}">

                        <div class="row">

                            <div class="col-md-5">
                                <label>Produto</label>

                                <select name="produto_id" class="form-control" required>

                                    <option value="">
                                        Selecione
                                    </option>

                                    {% for produto in produtos %}

                                    <option value="{{ produto.id }}">
                                        {{ produto.nome }}

                                        {% if produto.rua %}
                                        - Rua {{ produto.rua }}
                                        - Nº {{ produto.numero }}
                                        - Andar {{ produto.andar }}
                                        {% endif %}
                                    </option>

                                    {% endfor %}

                                </select>
                            </div>
                            <div class="col-md-2">

                                <label>Quantidade</label>

                                <input type="number" name="quantidade" class="form-control" required>

                            </div>

                            <div class="col-md-2">

                                <label>Valor</label>

                                <input type="number" step="0.01" name="valor" class="form-control" required>

                            </div>

                            <div class="col-md-3 d-flex align-items-end">

                                <button type="submit" class="btn btn-danger w-100">

                                    Adicionar Item

                                </button>

                            </div>

                        </div>

                    </form>

                </div>

            </div>

            <div class="card shadow-sm">

                <div class="card-body table-responsive">

                    <table class="table table-hover align-middle">

                        <thead class="table-dark">

                            <tr>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Valor</th>
                            </tr>

                        </thead>

                        <tbody>

                            {% if itens %}

                            {% for item in itens %}

                            <tr>

                                <td>{{ item.produto }}</td>

                                <td>{{ item.quantidade }}</td>

                                <td>
                                    R$ {{ item.valor }}
                                </td>

                            </tr>

                            {% endfor %}

                            {% else %}

                            <tr>

                                <td colspan="3" class="text-center">

                                    Nenhum item cadastrado.

                                </td>

                            </tr>

                            {% endif %}

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

        {% endif %}

    </div>

</div>

{% endblock %}